// Theme color
$bg-dark: #252625;
$fg-dark: #dfdfdf;

$bg-light: #dfdfdf;
$fg-light: #151415;

//Device sizing
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 1920px;
$desktopL: 2560px;
$desktop4K: 3840px;

